<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-offset-3 ">
      <table class="table">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
          </tr>
        <% end %>
      </table>
      <%= link_to 'Add City', admin_new_city_path, class: "btn btn-primary"  %>
    </div>
  </div>
</div>
